<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
</head>
<body>
<p>Main menu <span th:text="${name}"></span></p>
<div>
    <a th:href="@{/interview/add}">
        <button >Submit a question</button>
    </a>
</div>

<div>
    <a th:href="@{/interview/delete}">
        <button>Delete a question</button>
    </a>
</div>

<div>
    <a th:href="@{/interview/all}">
        <button>View all questions</button>
    </a>
</div>
</body>
</html>